.child_module {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 381px;
    font-size: 12px;
    &_plate {
        position: relative;
        display: inline-block;
        width: 720px;
        height: 100%;
        &_video {
            position: relative;
            top: 10px;
            &_image {
                position: relative;
                width: 100%;
                height: 100px;
                border-radius: 4px;
                overflow: hidden;
                background-size: 100% 100%;
                &:hover .watchlater {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &_item {
                position: relative;
                display: inline-block;
                vertical-align:top;
                margin-right: 20px;
                margin-bottom: 20px;
                width: 160px;
                height: 148px;
                cursor: pointer;
                overflow: hidden;
                transition: all 0.3s;
                &_title {
                    margin-top: 8px;
                    line-height: 20px;
                    width: 100%;
                }
                &_area {
                    position: absolute;
                    bottom: 2px;
                    width: 100%;
                    background-color: white;
                    color: #9BA3AB;
                    transition: all 0.3s;
                    &_plays {
                        display: inline-block;
                        padding-left: 18px;
                        background: @icons_image_path -280px -88px no-repeat;
                    }
                    &_comment {
                        display: inline-block;
                        position: absolute;
                        left: 50%;
                        padding-left: 18px;
                        background: @icons_image_path -280px -216px no-repeat;
                    }
                }
                &_mask {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    overflow: hidden;
                    transition: all 0.3s;
                    background-color: rgba(0, 0, 0, 0.4);
                    &_time {
                        position: absolute;
                        bottom: 3px;
                        left: 6px;
                        color: white;
                    }
                }
                &:hover {
                    .child_module_plate_video_item_title {
                        color: #00A1D6;
                    }
                    .live_video_item, .child_module_plate_video_item {
                        &_area {
                            transform-origin: 0 150px;
                            transform: rotateX(30deg);
                        }
                        &_mask {
                            opacity: 1;
                            overflow: visible;
                        }
                    }
                }
            }
        }
    }
}

.live_video_word {
    position: absolute;
    width: 150px;
    bottom: 0;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    &_up {
        float: left;
        width: 70px;
        height: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &_people {
        float: right;
        div {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
            width: 16px;
            height: 16px;
            background: @online_people_image_path;
        }
    }
}

.live_video_item_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.live_video_item_title {
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
}

.live_video_item_area {
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    width: 100%;
    background-color: white;
    color: #9BA3AB;
    transition: all 0.3s;
}

.live_menu {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
    &_title {
        position: relative;
        height: 25px;
        margin-top: 12px;
        &_item {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            font-size: 12px;
            cursor: pointer;
            &_on {
                color: #00A1D6;
            }
        }
    }
    &_connent {
        position: relative;
        display: inline-block;
        left: 0;
        width: 800px;
        height: 324px;
        margin-top: 20px;
        transition: all 0.5s;
        &_rank, &_fork {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 260px;
            height: 100%;
            margin-right: 10px;
            &_item {
                position: relative;
                height: 40px;
                margin-bottom: 14px;
                padding-left: 25px;
                &_head {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    line-height: 16px;
                    text-align: center;
                    color: white;
                    background-color: #F25D8E;
                    border-radius: 3px;
                }
                &_icon {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    cursor: pointer;
                }
                &_word {
                    display: inline-block;
                    vertical-align: top;
                    width: 180px;
                    height: 100%;
                    margin-left: 15px;
                    cursor: pointer;
                    &:hover &_up {
                        color: #00A1D6;
                    }
                    &_title {
                        margin-top: 4px;
                        height: 16px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: #99A2AA;
                        cursor: pointer;
                    }
                }
                &_watch {
                    position: absolute;
                    right: 0;
                    top: 0;
                    line-height: 12px;
                    color: #99A2AA;
                    padding-left: 14px;
                    background: @eye_image_path no-repeat;
                }
            }
        }
        &_fork_item {
            padding-left: 0;
            &_word {
                width: 205px;
            }
        }
        &_recommend {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 260px;
            height: 100%;
            &_top {
                position: relative;
                width: 100%;
                height: 248px;
                border-radius: 4px;
                overflow: hidden;
                &_image {
                    position: relative;
                    left: 0;
                    width: 780px;
                    height: 100%;
                    transition: all 0.5s;
                    &_item {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: 260px;
                        height: 248px;
                        &_plate {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 60px;
                            background-color: rgba(0, 0, 0, 0.4);
                            color: white;
                            line-height: 30px;
                            &_title {
                                margin-left: 10px;
                            }
                            &_back {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                height: 50%;
                                background-color: rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
                }
                &_button {
                    position: absolute;
                    bottom: 5px;
                    margin-left: 100px;
                    line-height: 0;
                    &_item {
                        display: inline-block;
                        vertical-align: top;
                        margin: 3px;
                        width: 11px;
                        height: 6px;
                        background-color: white;
                        border-radius: 3px;
                        cursor: pointer;
                        transition: all 0.2s;
                        &.on {
                            background-color: #F45D8F;
                            width: 27px;
                        }
                    }
                }
            }
            &_down {
                position: absolute;
                bottom: 15px;
                width: 100%;
                &_left, &_right {
                    display: inline-block;
                    vertical-align: top;
                    width: 127px;
                    height: 43px;
                    cursor: pointer;
                }
                &_left {
                    background: @wh_image_path;
                }
                &_right {
                    float: right;
                    background: @sp_image_path;
                }
            }
        }
    }
}

.time_table {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 474px;
    font-size: 12px;
    &_plate {
        position: relative;
        display: inline-block;
        width: 720px;
        height: 100%;
        &_comic {
            margin-top: 16px;
            width: 700px;
            height: 398px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 10px;
                &-track {
                    background-color: #DDDDDD;
                }
                &-thumb {
                    border: 1px solid #ddd;
                    background: #E5E9EF;
                    border-radius: 4px;
                }
            }
            &_item {
                position: relative;
                display: inline-block;
                width: 180px;
                height: 72px;
                margin-right: 46px;
                margin-bottom: 36px;
                &_icon {
                    display: inline-block;
                    width: 72px;
                    height: 72px;
                    border-radius: 4px;
                    cursor: pointer;
                }
                &_word {
                    display: inline-block;
                    position: absolute;
                    vertical-align: top;
                    right: 0;
                    width: 96px;
                    height: 72px;
                    &_top {
                        height: 32px;
                        overflow: hidden;
                        cursor: pointer;
                        &:hover {
                            color: #00A1D6;
                        }
                    }
                    &_down {
                        position: absolute;
                        bottom: 0;
                        height: 20px;
                        line-height: 20px;
                        color: #AAAAAA;
                        span {
                            margin-left: 5px;
                            padding-left: 7px;
                            padding-right: 7px;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            background-color: #FF8EB3;
                            border-radius: 10px;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}