.footer_back {
    position: relative;
    background-color: #F6F9FA;
}

.footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    width: @back_change_width;
    margin: auto;
    font-size: 13px;
    &_top {
        position: relative;
        display: flex;
        margin-bottom: 30px;
        &_menu {
            position: relative;
            flex: 1;
            height: 100%;
        }
        &_bilibili, &_portal {
            &_plate {
                margin-left: 20px;
                &_title {
                    color: #99A2AA;
                    height: 25px;
                }
                &_first, &_second, &_third {
                    font-size: 14px;
                    display: inline-block;
                    margin-right: 40px;
                    div {
                        margin-top: 10px;
                    }
                    span {
                        transition: all 0.2s;
                        &:hover {
                            cursor: pointer;
                            color: #00A1D6;
                        }
                    }
                }
            }
        }
        &_portal {
            border-left: 1px solid #E5E9EF;
            border-right: 1px solid #E5E9EF;
        }
        &_download {
            &_plate {
                position: relative;
                display: inline-block;
                padding-left: 50px;
                padding-top: 8px;
                &_image {
                    position: relative;
                    display: inline-block;
                    margin-right: 20px;
                    &_word1, &_word2, &_word3 {
                        width: 66px;
                        height: 16px;
                        padding-top: 66px;
                        text-align: center;
                        transition: color 0.2s;
                        &:hover {
                            cursor: pointer;
                            color: #00A1D6;
                            background-position-x: -1087px;
                        }
                    }
                    &_word1 {
                        background: @icons_image_path -1021px -196px;
                    }
                    &_word2 {
                        background: @icons_image_path -1021px -324px;
                    }
                    &_word3 {
                        background: @icons_image_path -1021px -68px;
                    }
                    &_erweima1, &_erweima2, &_erweima3 {
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.8s;
                        background: @icons_image_path;
                    }
                    &_erweima1 {
                        width: 130px;
                        height: 143px;
                        left: -32px;
                        top: -153px;
                        background-position: -1260px -1817px;
                    }
                    &_erweima2 {
                        width: 130px;
                        height: 143px;
                        left: -32px;
                        top: -153px;
                        background-position: -1260px -2025px;
                    }
                    &_erweima3 {
                        width: 250px;
                        height: 159px;
                        left: -153px;
                        top: -169px;
                        background-position: -1260px -2229px;
                    }
                    &:hover .footer_erweima {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
    &_tail {
        position: relative;
        &_left {
            display: inline-block;
            &_icon {
                width: 96px;
                height: 75px;
                background: @foot_icon_image_path;
            }
        }
        &_right {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
            width: 814px;
            font-size: 12px;
            color: #99A2AA;
            line-height: 24px;
            &_word2, &_word3 {
                position: relative;
                span {
                    transition: all 0.2s;
                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }
            }
            &_icon1, &_icon2, &_icon3 {
                position: absolute;
                display: inline-block;
                width: 22px;
                height: 22px;
                background: @icons_image_path;
            }
            &_icon1 {
                background-position: -1364px -86px;
            }
            &_icon2 {
                background-position:  -1364px -44px;
            }
            &_icon3 {
                background-position:  -1430px -86px;
            }
        }
    }
}