.head {
    position: absolute;
    width: 100%;
    height: 170px;
    background: transparent @header_image_path no-repeat center;
}

.header_line {
    position: relative;
    width: 100%;
    height: 42px;
    overflow: hidden;
}

.header_line_under {
    position: relative;
    width: 100%;
    height: 62px;
    top: -4px;
}

.header_line_under_filter {
    height: 100%;
    width: 100%;
    background: transparent @header_image_path no-repeat center 0px!important;
    filter: blur(5px);
}

.header_line_under_color {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.real_body {
    position: relative;
    margin: auto;
    width: @back_width;
}

.header_back {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 170px;
}

.header_menu {
    position: relative;
    z-index: 1;
    height: 42px;
    width: 100%;
    ul {
        height: 100%;
    }
}

.menu {
    position: relative;
    display: inline-block;
    height: 100%;
}

.menu_item {
    position: relative;
    height: 100%;
    &:hover {
        cursor: pointer;
        .menu_item_under {
            background: rgba(255, 255, 255, 0.24);
        }
    }
}

.submission .menu_item:hover {
    .menu_item_under {
        background: linear-gradient(#FE84AC, #E17598);
    }
}

.menu_item_under {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background 0.2s;
}

.menu_item_word {
    position: relative;
    height: 100%;
    line-height: 42px;
    padding-left: 11px;
    padding-right: 11px;
    color: black;
}

.home .menu_item_word {
    background: @icons_image_path no-repeat -910px -74px;
    padding-left: 30px;
    padding-right: 10px;
}

.submission {
    .menu_item_under {
        height: 48px;
        border-radius: 0 0 6px 6px;
        background: linear-gradient(#F15C8D, #D5527D);
        font-size: 13px;
    }
    .menu_item_word {
        color: white;
        padding-left: 17px;
        padding-right: 17px;
    }
    &_icon {
        position: absolute;
        right: -53px;
        z-index: 10;
        top: 4px;
        width: 55px;
        height: 38px;
        background: @icon2_image_path;
        &:hover + .header_menu_right .submission {
            .menu_item_under {
                background: -webkit-linear-gradient(#FE84AC, #E17598);
            }
            .curtain {
                height: @child_menu_height;
            }
        }
    }
}

.curtain {
    position: absolute;
    text-align: left;
    width: @child_menu_width;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    transition: height 0.5s;
}

.menu:hover .curtain {
    height: @child_menu_height;
}

.header_menu_left {
    float: left;
}

.header_menu_right {
    float: right;
}

.userPortrait {
    float: right;
    margin-right: 20px;
}

.userPortrait_image {
    border-radius: 18px;
    margin-top: 3px;
    background: @userPortrait_image_path;
    width: @userPortrait_size_begin;
    height: @userPortrait_size_begin;
    background-size: 100% 100%;
    transition: all 0.3s;
    transition-delay: 0.3s;
    &:hover {
        cursor: pointer;
        transform-origin: 21px 0;
        transform: scale(2) translateY(10px);
        box-shadow: 0 0 3px 1px lightskyblue;
    }
}

#logo {
    background: @logo_image_path;
    position: absolute;
    width: 220px;
    height: 105px;
    left: 24px;
    top: 55px;
}

.search {
    position: absolute;
    border-radius: 6px;
    padding: 2px;
    right: 0;
    bottom: 20px;
    width: 338px;
    height: 32px;
    background: rgba(0, 0, 0, 0.12);
    &_button {
        display: inline-block;
        border-radius: 4px;
        height: 100%;
        background: rgba(255, 255, 255, 0.88);
        &:hover {
            background: #fff;
        }
    }
    &_rankList {
        width: 68px;
        margin-right: 2px;
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        &_image {
            display: inline-block;
            font-size: 12px;
            padding-left: 16px;
            line-height: 14px;
            text-align: right;
            width: 40px;
            height: 16px;
            color: #F25D8E;
            background: @icons_image_path -664px -663px no-repeat;
        }
    }
    &_frame {
        position: absolute;
        border: 0;
        padding: 0;
        padding-left: 10px;
        height: 32px;
        width: 208px;
        padding-right: 50px;
        &:focus {
            outline: none;
        }
    }
}

.magnifier {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 38px;
    height: 100%;
    background: @icons_image_path -663px -719px;
    &:hover {
        background-position: -728px -719px;
        cursor: pointer;
        + .search_button {
            background: #fff;
        }
    }
}