@header_image_path: url(../imgs/header/header.png);
@icons_image_path: url(../imgs/icon/icons.png);
@icons2_image_path: url(../imgs/icon/icons2.png);
@icon2_image_path: url(../imgs/icon/up-new-iocn.png);
@mobilePhone_download_image_path: url(../imgs/icon/app-download-tips.png);
@foot_icon_image_path: url(../imgs/icon/foot_icon.png);
@label_active_image_path: url(../imgs/icon/label_active.png);
@label_topic_image_path: url(../imgs/icon/label_topic.png);
@label_photo_image_path: url(../imgs/icon/wh2.png);
@label_video_image_path: url(../imgs/icon/sp2.png);
@logo_image_path: url(../imgs/header/logo.png);
@userPortrait_image_path: url(../imgs/header/alun.png);
@specialGif_image_path: url(../imgs/icon/special.gif);
@carousel_image_path: url(../imgs/carousel/carousel.jpg);
@watchlater1_image_path: url(../imgs/icon/watchlater-1.png);
@watchlater2_image_path: url(../imgs/icon/watchlater-2.png);
@online_people_image_path: url(../imgs/icon/online_people.png);
@eye_image_path: url(../imgs/icon/eye.png);
@wh_image_path: url(../imgs/icon/wh.png);
@sp_image_path: url(../imgs/icon/sp.png);
@recommend_module_image_path: url(../imgs/icon/recommend_other_image.jpg);
//单个菜单栏宽度
@back_width: 980px;
@back_change_width: 1160px;
@menu_width_first: 70px;
@menu_width_second: 58px;
@menu_width_third: 46px;
//子菜单大小
@child_menu_height: 150px;
@child_menu_width: 200px;
//头像大小
@userPortrait_size_begin: 36px;
@userPortrait_size_after: 60px;